* {
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
}
body {
  padding-top: 20px;
}
.container {
  margin-bottom: 20px;
}
.row > div {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(var(--bd-violet-rgb), 0.15);
  border: 1px solid rgba(var(--bd-violet-rgb), 0.3);
}
