* {
}
body {
  padding-top: 20px;
}
.container {
  margin-bottom: 20px;
}

.red {
  min-height: 100px;
  background-color: bisque;
}
.white {
  min-height: 100px;
  background-color: white;
}

.blue {
  min-height: 150px;
  background-color: #6b6bff;
}
